<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Cats</h1>
    <%= link_to 'New cat', new_cat_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="cats" class="min-w-full">
    <%= paginate @cats %>
    <%= search_form_for @q do |f| %>
      <%= f.label :name_cont, 'åå‰' %>
      <%= f.search_field :name_cont %>

      <%= f.label :age_eq, 'å¹´é½¢' %>
      <%= f.search_field :age_eq %>
      <%= f.submit %>

      <%= link_to 'clear', cats_path %>
    <% end %>
    <%= sort_link(@q, :name) %>
    <%= sort_link(@q, :age) %>
    <%= render @cats %>
  </div>
</div>
